- name: dockerUI - run the container
  docker:
   image: uifd/ui-for-docker
   name: dockerui
   ports: 9000:9000
   privileged: yes
   volumes: /var/run/docker.sock:/var/run/docker.sock
  when: not skip_ui is defined
  tags: [docker]

